# Ignore build artifacts
build/
artifacts/

# Ignore cache files
cache/

# Ignore temporary files
.DS_Store
*.swp
*.tmp
*.log

# Ignore IDE specific files
.idea/
*.iml
*.suo
*.sln
*.user

# Ignore hardhat specific files
hardhat.config.js
hardhat-cache/ 
coverage/

# Ignore Foundry specific files
forge-config.yaml
forge-flat/
build-info/

# Ignore generated contract artifacts
contracts/

node_modules

/frontend/package-lock.json
/frontend/yarn-error.log